<form role="form">

	<alert type="danger" ng-if="errorMessage">{{errorMessage}}</alert>

	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" class="form-control" id="username" ng-model="username" />
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" id="password" ng-model="password" />
	</div>

	<hr />

	<div class="form-group">
		<label for="device-name">Name This Device (i.e. Macbook or iPhone)</label>
		<input type="text" class="form-control" id="device-name" ng-model="device_name" />
	</div>
	<button id="login" class="btn btn-primary fade in" ng-click="login()">Log In</button>
	<a ui-sref="login.help" class="btn btn-link fade in">Forgot your password?</a>
</form>