<div class="terms">
	<p><strong>Welcome to Indy Hall!</strong> Because this is your first time on the network with this device,
		we need you to quickly log in.  Before you do, though, read through these guidelines:</p>
	<ul>
		<li>No torrenting!</li>
		<li>Try to be mindful of large downloads and uploads.</li>
		<li>Watch out for Dropbox, Google Drive, Backblaze and others taking up bandwidth in the background.</li>
	</ul>
	<p>Got it?  OK, let's get you online:</p>
</div>

<div id="login">
	<ul class="nav nav-tabs" role="tablist">
		<li ui-sref-active="active">
			<a ui-sref="login.members">Existing Members</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="login.guests">Guests</a>
		</li>
		<li ui-sref-active="active" class="hide-when-inactive">
			<a ui-sref="login.help">Help</a>
		</li>
	</ul>

	<div ui-view class="login-box"></div>
</div>

<input type="hidden" id="mac-address" value="$CLIENT_MAC$" />
<input type="hidden" id="redirect-url" value="$PORTAL_REDIRURL$" />

<form id="auth-form" method="post" action="$PORTAL_ACTION$" style="display: none;">
	<input name="redirurl" type="hidden" value="$PORTAL_REDIRURL$">
	<input name="accept" type="submit" value="Continue" />
</form>