<div class="terms">
	<p><strong>Welcome to Indy Hall!</strong> Because this is your first time on the network with this device,
		we need you to quickly log in.  Before you do, though, read through these guidelines:</p>
	<ul>
		<li>No torrenting!</li>
		<li>Try to be mindful of large downloads and uploads.</li>
		<li>Watch out for Dropbox, Google Drive, Backblaze and others taking up bandwidth in the background.</li>
	</ul>
	<p>Got it?  OK, let's get you online:</p>
</div>

<ul class="nav nav-tabs" role="tablist">
	<li ui-sref-active="active">
		<a ui-sref="login.members"><span class="glyphicon glyphicon-user"></span> Existing Members</a>
	</li>
	<li ui-sref-active="active">
		<a ui-sref="login.guests">Guests</a>
	</li>
</ul>

<div ui-view class="clearfix"></div>